@page "/change"
@inject HttpClient Http
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthStateProvider
@attribute [Authorize]

<PageTitle>Changer Le Mot De Passe</PageTitle>

<label>Mot de passe actuel :</label><br>
<input type="password" placeholder="Mot De Passe Actuel" @bind="@changeModel.CurrentPassword"><br><br>

<label>Nouveau mot de passe :</label><br>
<input type="password" placeholder="Nouveau Mot De Passe" @bind="@changeModel.NewPassword"><br><br>
@((MarkupString)message)

<button @onclick="@Change" class="btn btn-primary">Changer le mot de passe</button>

@code {
    private string? message{get; set;} = String.Empty;
    private ChangeModel? changeModel{get; set;} = new();
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await AuthStateProvider.GetAuthenticationStateAsync();
    }

    private async Task Change()
    {
        var response = await Http.PostAsJsonAsync("api/Admin/ResetPassword", changeModel);
        if(response.IsSuccessStatusCode)
        {
            navigationManager.NavigateTo("/", forceLoad: true);
        }
        else
        {
            message = "<p>Mot de passe actuel incorrect</p><br><br>";
        }
    }
}